*.class
.classpath
.project
.settings
eclipsebin
bin
target
pom.xml.*
release.properties
.idea
*.iml
*.ipr
*.iws
classes
obj
.DS_Store
pom.xml.releaseBackup
deploy_site_key
pubring.gpg
secring.gpg
.tags
sun-jaxb.episode
jaxb
dependency-reduced-pom.xml
mvn.log
